<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tastely.mapper.RecipeMapper">

    <!-- 결과 매핑 -->
    <resultMap id="RecipeSummaryMap" type="com.tastely.dto.RecipeSummaryDTO">
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="nickname" column="nickname"/>
    </resultMap>

    <!-- 레시피 + 유저 정보 조회 -->
    <select id="findAllRecipeSummaries" resultMap="RecipeSummaryMap">

        SELECT
            r.title,
            r.description,
            r.thumbnail,
            u.nickname
        FROM recipes r
                 JOIN users u ON r.user_id = u.id
        ORDER BY r.created_at DESC
    </select>

</mapper>
