<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ysreciplace.tastely.repository.UserRepository">
    <insert id="save">
        insert into
            users(username, password, email, nickname, profile_image,
                    role, provider, provider_id, verified, created_at)
        values
            (#{username}, #{password}, #{email}, #{nickname}, #{profileImage},
                'USER', #{provider}, #{providerId}, #{verified}, now())
    </insert>
    <select id="findByUsernameOrEmail" resultType="user" >
        select * from users where username=#{data} or email=#{data}
    </select>

    <select id="findByProviderAndProviderId" resultType="user">
        select * from users where provider=#{provider} and provider_id=#{providerId}
    </select>
    
    <select id="findById" resultType="user">
        select * from users where id=#{userId}
    </select>

    <update id="updatePasswordByEmail">
        update users set password=#{password} where email=#{email}
    </update>

    <update id="updateUserVerified">
        update users set verified='T' where email=#{email}
    </update>

    <select id="findById" resultType="user" >
        select * from users where id=#{id}
    </select>
</mapper>